<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodattack.foodattack" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/apple"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewUserActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".StockList"
            android:label="@string/title_activity_stock_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchStockList" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.MainActivity" />
        </activity>
        <activity
            android:name=".ShopList"
            android:label="@string/title_activity_shop_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchShopList" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeList"
            android:label="@string/title_activity_recipe_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.MainActivity" />
        </activity>
        <activity
            android:name=".RollCallActivity"
            android:label="@string/title_activity_roll_call"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.MainActivity" />
        </activity>
        <activity
            android:name=".SearchShopList"
            android:label="@string/title_ShopList_search_results"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SearchStockList"
            android:label="@string/title_ShopList_search_results"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MainSettingsActivity"
            android:label="@string/title_activity_main_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.MainActivity" />
        </activity>
        <activity
            android:name=".AddRecipe"
            android:label="@string/title_activity_add_recipe"
            android:parentActivityName=".RecipeList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.RecipeList" />
        </activity>
        <activity
            android:name=".DisplayRecipe"
            android:label="@string/title_activity_display_recipe"
            android:parentActivityName=".RecipeList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foodattack.foodattack.RecipeList" />
        </activity>
    </application>

</manifest>
